---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <span>© {year} Çagri Cimen</span>
  <span>
    <a href="https://github.com/CCimen" rel="me noopener">GitHub</a>
    &nbsp;·&nbsp;
    <a href="/writing/rss.xml">RSS</a>
  </span>
</footer>
